<!-- {% load django_bootstrap5 %}  -->
{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}デフォルトタイトル{% endblock title %}</title>
    <!-- リセットcss -->
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <!-- 自作css -->
    <link rel="stylesheet" href="{% static 'css/all_style.css' %}">
    <!-- googleFont -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {% block extra_css %}{% endblock extra_css %}
    <link href="https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body class="admin_screen">
    <img src="/static/texture.png" class="bg_overlay_image">

    <!-- <header>
        <div class="bg_deader">
            <img src="img/icon/ダミー.png" alt="大会の画像" class="image_circle2">
            <h1 style="color: white; padding-left: 1rem;">大会名</h1>
        </div> -->
    <header class="bg_deader">
        <img src="{% static 'img/icon/ダミー.png' %}" alt="大会の画像" class="image_circle2">
        <h1 style="color: white; padding-left: 1rem;">大会名</h1>

    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <section>
    {% if tournament %}
        <a href="{% url 'tournament_detail_operator' pk=tournament.id %}">home</a>
    {% endif %}

    {% if tournament.pdf_img_path %}
        <p><a href="{{ tournament.pdf_img_path.url }}" target="_blank">現在の規約PDFを開く</a></p>
    {% elif tournament %}
        <p>規約PDFは登録されていません。</p>
    {% else %}

    {% endif %}
    </section>
    <footer class="menu">
        <!-- home -->
        <a href="#" class="menu item item_admin">
            <span class="menu_link">
                <img src="{% static 'img/icon/Home.webp' %}" alt="home" class="frame">
                home
            </span>
        </a>
        <!-- schedule -->
        <a href="#" class="menu item item_admin">
            <span class="menu_link">
                <img src="{% static 'img/icon/Calendar.webp' %}" alt="home" class="frame">
                schedule
            </span>
        </a>
    </footer>
    {% bootstrap_javascript %}
</body>
</html>
