@charset "utf-8";

.pos_right {
  text-align: right;
}

.search-container {
  display: flex;
  /* 親要素の幅いっぱい */
  width: 100%;
  /* 要素間の隙間 */
  gap: 1rem;
  /* box-sizing: border-box; */
  /* paddingを含めた幅計算 */
  align-items: center;
}

.input_text {
  flex-grow: 1;
  /* 残りの幅をすべて埋める */
  /* padding: 10px; */
  border: 1px solid #ccc;
}


.btn_margin {
  padding: 0.5rem 1rem;
  text-align: right;
  min-width: 10rem;;
  text-align: center;
}

.space {
  display: grid;
  row-gap: 2rem;
}

.block_btn {
  display: block;
  /* max-content を上書きして親要素いっぱいにする */
  width: 100% !important;
  /* margin: auto が邪魔をしないようにリセット */
  margin: 0 !important;
  box-sizing: border-box;
}

.side_by_side {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
  /* 親コンテナ自体も横いっぱいに */
}

/* ボタンを包むdivを均等に（50%ずつ）広げる */
.side_by_side>div {
  flex: 1;
}

.text_size {
  height: 30px;
}

.delete {
    border: 1.8px solid #FF0000;
    background: #AC0000;
}

.delete_size {
    /* height: 21.33px; */
    border-radius: 7px;
    display: flex;
    align-self: center;
    padding: 0.5rem 1rem;
}

.delete:hover {
    color: #AC0000;
    background: #fff;
}

#class-teams-msg{
  color: #fff;
}