@charset "utf-8";

/*スクロールバー関係*/
.scroll_others {
    max-height: 35rem;
    overflow-y: scroll;
    padding-right: 20px;
}

.scrollbar_others::-webkit-scrollbar,
.list_admin::-webkit-scrollbar {
    width: 16px;
}

.scrollbar_others::-webkit-scrollbar-track,
.list_admin::-webkit-scrollbar-track {
    background-color: #5D5D5D;
}

.scrollbar_others::-webkit-scrollbar-thumb,
.list_admin::-webkit-scrollbar-thumb {
    background-color: #fff;
}

/* クラス順位ポイント使用の有無 */
.class-flg-label,
.class-flg-select {
    font-weight: bold;
    font-size: 1.5rem;
}

.class-flg-wrapper {
    justify-content: center !important;
    gap: 1rem !important;
}

/* スマホ */
@media screen and (max-width: 400px) {
    .class-flg-label,
    .class-flg-select {
        font-size: 13px !important;
    }

    .class-flg-label {
        white-space: nowrap;
    }
}
