{% extends 'layouts/admin-layout.html' %}
{% load static %}
{% comment %} 自作css読み込み {% endcomment %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/tournament-edit.css' %}">
    <style> .special-button { background-color: gold; } </style>
{% endblock extra_css %}

{% block content %}
{# ファイルを扱うので enctype は必須 #}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form_container">
        <div class="img_name_container">
            <div class="form">
                <h2 class="h2">大会画像</h2>
                <div class="preview_img">
                    <img id="img_preview" alt="" src="{% if form.instance.img_path  %}{{ form.instance.img_path.url | default:'' }}{% else %}{% endif %}"/>
                    <label for="id_img_path" class="gazou btn">
                        画像選択
                    </label>
                    <input type="file" name="img_path" id="id_img_path" accept=".png, .jpg, .jpeg, image/png, image/jpeg">
                </div>
            </div>
            <div class="form name">
                <h2 class="h2">大会名</h2>
                {{ form.name }}
            </div>

        </div>

        <div class="form">
            <h2 class="h2">しおり</h2>
            <div class="preview_pdf">
                <div id="preview_pdf">
                    <p class="p">{{ form.instance.pdf_img_path | default:'' }}</p>
                </div>
                <label for="id_pdf_img_path" class="gazou btn">PDF選択</label>
                <input type="file" name="pdf_img_path" id="id_pdf_img_path" accept=".pdf, application/pdf">
            </div>
        </div>

        <div class="form">
            <h2 class="h2">大会パスワード</h2>
            {{ form.password }}
        </div>
        {% comment %} クラスチーム {% endcomment %}
        <div class="form">
            <h2 class="h2">クラスチーム</h2>
            <div id="teams-container">
                {% for team in teams %}
                    <div class="input-row ">
                        <input class="class_team_input" type="text" name="teams" value="{{ team.name }}" placeholder="クラスチーム名を入力">
                        {% if forloop.counter != 1 %}
                            <input type="button" class="delete_btn" value="削除" onclick="removeBtnEvent(this)">
                        {% endif %}
                    </div>
                {% empty %}
                    {# 2. チームが1つもない #}
                    <div class="input-row">
                        <input class="class_team_input" type="text" name="teams" placeholder="クラスチーム名を入力">
                    </div>
                {% endfor %}
            </div>
            <button type="button" onclick="teamAddInput()" class="gazou btn class_team_btn">追加</button>
        </div>
        {% comment %} ランクポイント {% endcomment %}
        <div class="form">
            <h2 class="h2">ランクポイント</h2>
            <div id="rank-container">
                {% for point in rank_points %}
                    <div class="input-row">
                        <label><h2>{{ point.rank }}位</h2></label>
                        <input type="number" name="rank_points" value="{{ point.point }}">
                    </div>
                {% empty %}
                    {# データが一つもない場合（初期値として1位分だけ出す例） #}
                    <div class="input-row">
                        <label><h2>1位</h2></label>
                        <input type="number" name="rank_points" value="0">
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="button_container">
            <a class="return btn display_block" href="{% url 'tournament_detail_superuser' pk=tournament.pk %}">大会詳細に戻る</a>
            <button type="submit" class="gazou btn add_btn">保存</button>
        </div>
    </div>
</form>


<script src="{% static 'js/tournament/update.js' %}"></script>
{% comment %} プレビュー {% endcomment %}
<script>
    {% comment %} 画像プレビュー {% endcomment %}
    const input = document.getElementById('id_img_path');
    const preview = document.getElementById("img_preview");

    console.log(input, preview);

    input.addEventListener("change", function () {
    const file = this.files[0];

    if (file) {
        const reader = new FileReader();

        reader.onload = function (e) {
        preview.src = e.target.result;
        };

        reader.readAsDataURL(file);
    }
    });

    {% comment %} PDFファイル名プレビュー {% endcomment %}

    const fileInput = document.getElementById('id_pdf_img_path');

    fileInput.addEventListener('change', (e) => {
    const file = e.target.files[0]; // 最初のファイルを取得
    if (file) {
        const previewPdf = document.getElementById('preview_pdf');
        previewPdf.innerHTML = `<p class="p">${file.name}</p>`; // ファイル名を表示
    }else{
        const previewPdf = document.getElementById('preview_pdf');
        previewPdf.innerHTML = `<p class="p">選択されていません</p>`; // ファイルが選択されていない場合の表示
    }
    });
</script>
{% endblock content %}


