{% extends 'layouts/admin-layout.html' %}

{% block title %}大会一覧{% endblock title %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tournament_list.css' %}">
{% endblock extra_css %}
{% block content %}

<div class="container">
    <h1>大会一覧</h1>
    <div class="add_btn">
        <a class="gazou btn add_btn" href="{% url 'tournament_create'%}">大会作成</a>
    </div>
    <ul class="list_admin">
        {% for item in object_list %}
        <a href="{% url 'tournament_detail_superuser' item.id %}"><li class="list_item">
            <p class="item-text">{{ item.name }}</p>
        </li></a>
        {% endfor %}
    </ul>
</div>

{% endblock content %}
