{% extends 'layouts/admin-layout.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block extra_css %} 
<link rel="stylesheet" href="{% static 'css/tournament_detail_operator.css' %}">
{% endblock extra_css %}
{% block content %}
<div class="container">
        <div class="dummy">
            <div class="tournament-header">
                <h2 class="h1">{{ tournament.name }} </h2>
            </div>
            <div class="url-info">    
                <div class="su-section-label">一般URL</div>
                <div class="su-info-box">
                    <a target="_blank" rel="noopener noreferrer" href="{{ user_url }}" style="color:#fff;">{{ user_url }}</a>          
                </div>
            </div>

            <div class="flex-link-layout">
                <h2 class="h2">競技一覧</h2>
                <a href="{% url 'event_create' tournament_pk=tournament.pk %}" class="btn gazou">競技作成</a>
            </div>
            <div class="list_admin">
            {% for event in events %}
                 <div class="list_item">
                    <img src="{% if event.event_img %}{{ event.event_img.url }}{% else %}{% static 'img/icon/no-img.png' %}{% endif %}" class="thumb-box">
                    <a style="text-decoration: none;" href="{% url 'event_detail_admin' tournament_pk=event.tournament.pk pk=event.id %}" class="item-name">{{ event.name }}</a>
                    <div class="item-actions">
                        <a href="{% url 'event_edit' tournament_pk=event.tournament.pk pk=event.id %}" style="text-align: center;" class="btn gazou">編集</a>
                    </div>
                </div>
            {% empty %}
            <p>競技が登録されていません</p>
            {% endfor %}
            </div>

            <h3 class="h2" style="margin-top: 30px;">総合順位</h3>
            <div class="ranking_user ranking_others">
            {% if tournament.status == 0 %}
            <p>大会開催前です</p>
            {% else %}
                {% for rank  in rankings %} 
                    <div class="ranking_item_row">
                        <span class="rank-badge">{{rank.rank}}位</span>
                        <span class="team-name">{{rank.name}}</span>
                        <span class="points">{{rank.total_point}}pt</span>
                    </div>
                {% empty %}
                <p>集計対象の競技が登録されていません</p>
                {% endfor %}
            {% endif %}
              
            </div>
        </div>
    </div>
</div>
{% endblock %}