{% extends 'layouts/user-layout.html' %}

{% block title %}index{% endblock title %}

{% block content %}
<div>
    <h1>User大会詳細</h1>
    <div>
        <section>
            <h2>大会基本情報</h2>
            
            <div>
                <p>大会画像:</p>
                {% if tournament.img_path %}
                    <img src="{{ tournament.img_path.url }}" alt="大会画像" width="300">
                {% else %}
                    <p>画像が設定されていません</p>
                {% endif %}
                <br>
            </div>

            <ul>
                <li>大会名: {{ tournament.name }}</li>
            </ul>
        </section>

        <section>
            <h2>大会規約 (PDF)</h2>
            {% if tournament.pdf_img_path %}
                <p><a href="{{ tournament.pdf_img_path.url }}" target="_blank">現在の規約PDFを開く</a></p>
            {% else %}
                <p>規約PDFは登録されていません。</p>
            {% endif %}
        </section>

        <hr>

        <section>
            <h2>競技一覧</h2>
            <ul>
                {% for event in events %}
                    <li>
                        <a href="{% url 'event_detail_user' tournament_pk=tournament.pk pk=event.pk %}">
                            {{ event.name }} 
                            {% if event.category == 1 %}(クラス対抗){% else %}(一般){% endif %}
                        </a>
                    </li>
                {% empty %}
                    <li>登録されている競技はありません。</li>
                {% endfor %}
            </ul>
          
        </section>

        <hr>

        <section>
        <h2>総合ランキング</h2>
        {% if tournament.status == 0 %}
        開催前です
        {% else %}
        <ol>
            {% for team in rankings %}
            <li>{{ team.rank }}位: {{ team.name }}（{{ team.total_point|default:0 }} pt）</li>
            {% empty %}
            <li>現在、集計データはありません。</li>
            {% endfor %}
        </ol>
        {% endif %}
        </section>
    </div>
</div>
{% endblock %}